html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #082629;
    color: white;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-stretch: 125%;
}
h2,
h3 {
    font-size: 2rem;
}
h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 15rem;
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
    width: 100%;
}
h3 {
    font-weight: 400;
}
p {
    margin-bottom: 0.5rem;
}
ul {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}
a {
    color: white;
}

img.memetic-logo {
    width: 10em;
}


.logo-menu {
    display: flex;
    height: 10rem;
    align-items: center;
    margin: 0 4rem;
}

.welcome-section, .explainer-section {
    display: flex;
    flex-wrap: wrap;
}

video, 
.welcome-section {
    height: calc(100vh - 10rem);
    min-height: 10rem;
}

.welcome-section {
    padding: 0 4rem;
    align-content: center;
}

.content-section {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem 2rem 10rem 2rem;
    min-height: 100vh;
}

.welcome-text {
    flex: 1;
    min-width: 300px;
}
.welcome-text p {
    margin-bottom: 2rem;
}

.explainer-content {
    align-content: flex-start;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 5rem 0;
    margin-right: 1rem;
    min-width: 300px;
}

.content-numbered .explainer-content h3 {
    margin-left: 1rem;
}

.explainer-content p{
    width: 100%;
    margin-top: 2.5rem;
}

.big-number {
    font-size: 2rem;
    font-weight: 50;
}

.content-alternate {
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
}


/* SPACINGS  */

.two-thirds-spacer {
    flex: 2;
}


/* VIDEO */ 

.video-container {
    overflow: clip;
    width: 100%;
}

video {
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    z-index: -1;
    overflow: clip;
    object-fit: cover;
    mix-blend-mode: overlay;

}


/* FOOTER */

.footer {
    background-color: #020808;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.footer div {
    flex: 1;
}
.copyright {
    width: 100%;
}

/* OFF ON LARGER DISPLAYS */

.mobile-only {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
    body {
        font-size: 1.2rem;
    }

    h1,
    h2,
    img,
    .welcome-section,
    .content-section,
    .explainer-section {
        font-weight: 100;
        margin: 0;
        padding-left: 0.5rem;
    }

    video {
        height: calc(100vh - 3rem);
    }

    img.memetic-logo {
        width: 10em;
        margin: 0;
        padding: 0;
    }

    .welcome-text>h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .welcome-text p {
        padding: 0.5rem;
    }

    .welcome-section {
        height: calc(100vh - 3rem);
    }
    .content-section {
        justify-content: end;
    }

    .content-section p {
        margin: 0.5rem 0;
    }
    .content-section>p {
        margin: 0.5rem;
    }

    .logo-menu {
        height: 3rem;
        margin: 0;
    }

    .logo-menu img {
        height: 3rem;
        width: auto;
    }

    .mobile-only {
        display: inline;
        margin-left: 0.5rem;
    }

    .two-thirds-spacer {
        display: none;
    }
}


/* COLORS */
/* racing green #004225; */
/* dark cyan: #082629; */