html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Archivo', sans-serif;
    /* background-color: black; */
    background-color: #082629;
    color: white;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-stretch: 125%;
    margin: 2rem 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15rem;
}

h2,
h3 {
    font-size: 2rem;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

p {
    margin-bottom: 0.5rem;
}

ul {
    list-style-position: inside;
    margin-bottom: 0.5rem;
}

a {
    color: white;
}

img.memetic-logo {
    width: 10em;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
}

/* .logo-menu img, .logo-menu a { */
/* } */

.welcome-section,
.content-section {
    margin: 2rem;
    padding: 2rem;
    margin-bottom: 10rem;
}

.welcome-section {
    /* background-image: url("dark-water-background.jpg"); */
    /* background-size: cover; */
    display: flex;
    /* mix-blend-mode: screen; */
}

.welcome-text {
    flex: 1;
    min-width: 300px;
}

.welcome-text p {
    margin-bottom: 2rem;
}


.explainer-section {
    display: flex;
    flex-wrap: wrap;
}

.explainer-section>div {
    flex: 1;
    margin-right: 1rem;
    min-width: 300px;
}

.big-number {
    font-size: 5rem;
    font-weight: 50;
}

.content-alternate {
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.) 100%);
}

/* SPACINGS  */

.two-thirds-spacer {
    flex: 2;
}


* VIDEO */ .video-container {
    /* margin: 2rem; */
    overflow: clip;
    width: 100%;
}

video {
    width: 100%;
    height: 38rem;
    position: absolute;
    /* bottom: 0; */
    z-index: -1;
    overflow: clip;
    object-fit: cover;
    mix-blend-mode: overlay;

}


/* FOOTER */

.footer {
    background-color: #020808;
    padding: 2rem;
    display: flex;
}

.footer div {
    flex: 1;
}

/* OFF ON LARGER DISPLAYS */

.mobile-only {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
    body {
        font-size: 1.2rem;
    }

    h1,
    h2,
    h3,
    img,
    .welcome-section,
    .content-section,
    .explainer-section>div {
        font-weight: 100;
        margin: 0;
        padding: 0.5rem;
    }

    img.memetic-logo {
        width: 10em;
        margin: 0;
        padding: 0;
    }

    .welcome-text>h1 {
        margin: 10rem 0;
    }
    .welcome-text p {
        padding: 0.5rem;
    }

    .logo-menu {
        margin: 0;
    }

    .mobile-only {
        display: inline;
    }

    /* ANIMATIONS */

    /* The animation code */
    @keyframes carets {
        from {
            color: white;
        }

        to {
            color: #082629;
        }
    }

    /* The element to apply the animation to */
    i.fa-solid {
        color: white;
        animation-name: carets;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
}